*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main{
    width: 65%;
    margin: 50px auto;
    display: grid;
    border: solid black;
    grid-template-rows: 40px 40px 160px 40px;
    grid-template-columns:2fr 1fr 1fr 1fr ;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}
.box1{background-color: yellow;}
.box2{background-color: pink;}
.box3{background-color:  pink;}
.box4{background-color:  pink;}
.box5{background-color: rgb(137, 212, 247);}
.box6{background-color: orange;
    grid-column-start: 4; grid-column-start: 5;}
.box7{background-color: rgb(179, 231, 101);

}
.box8{background-color:rgb(173, 171, 171);
    grid-row:2/3; grid-column-start: 4;}
.box9{background-color: green;
    grid-column-start: 4; grid-column-start: 5;}
.box10{background-color: rgb(255, 255, 8);
    grid-column-start: 1; grid-column-start: 2;}
.box11{background-color: rgb(221, 8, 193);
    grid-column-start: 4; grid-column-start: 5;}
.box12{background-color:  gray;
    grid-column: 1/6;
}
