body{
    font-family: sans-serif;
    background-image: linear-gradient(315deg,#e5eebf 0%, #bae09b 74%);
}
table{
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  th{
      background-color: coral;
      padding:10px; ;
  }
td{
    padding: 10px;
}