*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Noto Sans", sans-serif;
}
header,section,footer{
    padding: 2rem;
}
section,footer{
    color: white;
}
.bg{
    background-color: #33333380;
    padding: 1rem;
    color: white;
}

.bg a{
    color: white;
}

header{
    display:flex;
    justify-content: space-between;
    position:fixed;
    top:0;
    background-color: white;
    width: 100%;
}
#mobileButton{
    display: none;   
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
}
section{
    min-height: 50vh;
}
section:first-child{
    background-color: rgb(7, 240, 248);
    margin-top: 100px;
}
section:nth-child(2){
    background-color: rgb(50, 153, 158);
}
section:last-child{
    background-color: rgb(38, 197, 236);
}
footer{
    background-color: rgb(2,22,23);
    display: flex;
    justify-content: space-between;
}
#backToTop{
    background-color: chocolate;
    padding: 1rem;
    border:none;
    border-radius:5px;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}
.material-icons{
    font-size: 1rem;
}

@media (max-width: 576px){
    #mobileButton{
        display: block;
    }

    nav ul{
        display: none;
    }
    nav.responsive ul{
        display:block;
        background-color: white;
        position:absolute;
        width:100%;
        left:0;
        top: 86px;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        display: block;
        padding: 1rem 2rem;
    }
}