body {
    background-color: white;
    color: white;
    text-align: center;
    margin:0,auto;

}

#bulb {
    position: relative;
    top: 200px; left: 200px;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.bulb {
    height: 20px;
    width: 20px;
    background-color: green;
    margin: 5px;
    display: inline-block;
    border-radius: 10px;
    position: absolute;
}


.bulb.chosen {
    border:2px solid red;
}

.bulb.active {
    background-color: rgb(218, 221, 17);
}
#game{
    top: 50px;
    left: 300px;
}
