body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(189, 233, 218);
    text-align: center;
    border: black;
}

.car{
    margin: 30px;
    padding: 20px;
    border-style: solid black;
}