body{
   background-color: seashell;
  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}
a{
  color: white;
  text-decoration: none;
}
img{
  width:100%;
}
.logo{
  color: white;
}
li{
  display: inline-block;
  padding: 1rem;
}
header{
  background-color: rgb(7, 7, 8);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  
}
section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}
.box{
  background-color: rgb(247, 203, 109);
  width: 20%;
  margin: 1rem;
   box-shadow: 0px 0px 5px rgb(88, 87, 87);
}

#hero-banner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(/images/images3.jfif) no-repeat center center/cover; 

}
@media (max-width: 950px) {
  body {
    background-color: #f7f7f7;
  }
}
@media (max-width: 868px) {
  body {
    background-color: rgb(247, 178, 178);
  }
}
@media (max-width: 576px) {
  body {
    background-color: rgb(202, 252, 249);
  }
}

#image {
  height: 300px;
  width:300px;
  float: right;
}
#image2 {
  height: 300px;
  width:300px;
  float: left;
}

p {
  margin: 16px 0;
  line-height: 1;
  margin-bottom: 200px;
  line-height: 1.2;
}
.container{
  padding: 10px;
  display: inline;
  background-color: rgb(141, 140, 140);
}
.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #ebffab;
  height: 11%;
  display: contents;
}
.form {
  position: relative;
  bottom: 10px;
  text-align: center;
  line-height: 2;
}
  



