* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f7f7f7;
  color: rgb(9, 9, 10);
  font-family: "Times New Roman", Times, serif;
}
@media (max-width: 950px) {
  body {
    background-color: #f7f7f7;
  }
}
@media (max-width: 868px) {
  body {
    background-color: rgb(247, 178, 178);
  }
}
@media (max-width: 576px) {
  body {
    background-color: rgb(202, 252, 249);
  }
}
.nav-list {
  background: #f7f7f7;
  margin: 0;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
}
.nav-item {
  list-style: none;
  margin-right: 2rem;
}
.logo {
  width: 70px;
  height: 70px;
}
.card{
  width: 100px;
  height: 100px;
}
main {
  background-image: url(images/coffee.jpg);
  background-size: cover;
  height: 100vh;
}
.box {
  background-color: #f5b143;
  width: 200px;
  margin: 1rem;
}
.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container1 {
  margin: 80px;
}
h2 {
  font-size: large;
}
#image {
  height: 300px;
  width:300px;
  float: right;
}
#image2 {
  float: left;
}
a {
  width: 10.672vh;
  font-size: x-large;
  padding: 15px;
  color: rgb(8, 8, 8);
}
.container h1 {
  text-align: center;
  font-size: 0.625em;
  padding: 10px;
}
h1 {
  font-size:xx-large;
}
p {
  margin: 16px 0;
  line-height: 1;
  margin-bottom: 200px;
  line-height: 1.2;
}
h2 {
  font-size: 1.25em;
}
.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #ebffab;
  height: 11%;
  display: contents;
}
.form {
  position: relative;
  bottom: 10px;
  text-align: center;
  line-height: 2;
}
