* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color:#f7f7f7;
  color: rgb(9, 9, 10);
  font-family: "Times New Roman", Times, serif;
}
#header {

  padding: 35px;
  color: black;
  text-align: center;
  font-size: 90px; 
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.2s;
  height: 100px;
  position:fixed;
  z-index: 1;

}
main{
  background-image: url(images/coffee.jpg);
  background-size: cover;
  height: 100vh;
}
.container1{
  margin: 80px;
}

h2 {
  font-size: large;
}
#image1{
  float:left;
}
#image{
  height: 300px;
  width: 500px;
  float: right;
}
#image2{
  float:left;
}

ul {
  list-style-type: none;
}
li {
  display: inline;
}
header {

  text-align: center;
  
}
a {
  width: 100px;
  font-size: x-large;
  padding: 15px;
  color: rgb(8, 8, 8);
}
.container h1 {
  text-align: center;
  font-size: 40px;
  padding: 10px;
}
h1{
  font-size: 40px;
}

p{
  margin:16px 0;
  line-height: 1;
  margin-bottom:200px;
  line-height:1.2;
}
h2{
  font-size: 20px;
}
.footer {
  position:fixed;
  bottom: 0px;
  width: 100%;
  background-color:#ebffab;
  height:11%;
  display:contents;
}
.form{
  position: relative;
  bottom: 10px;
  text-align: center;
  line-height:2;
}


